
.container{
  width: 80rem;
  height: 30rem;
  background-color: #504d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0;
}
.forms{
  background-color: #182e80;
  text-align: center;
  padding: 3rem;
  border-radius:10px;
  border: 1px solid #10423a;
  box-shadow: 7px 7px 5px #1f7da6;
  display: inline-block;
}

