<div class="container">
<form class="forms" [formGroup]="login_form">
  <div style="Color:aquamarine;font-size:180%;">
  <span class="textoddd" style="Color:aquamarine;font-size:150%;">FERRETIC</span>
  </div>
  <br>
  <div >
    <span class="p-float-label">
      <input  id="float-input" style="width:100%;" pInputText formControlName="username" type="text">
      <label for="float-input">Nombre de usuario </label>
  </span>
  </div>
  <br>
  <div>
    <span class="p-float-label">
      <p-password id="password"  formControlName="password"  [toggleMask]="true"></p-password>
      <label for="password">Contraseña</label>
  </span>
  </div>
  <br>
  <button pButton (click)="login()" label="Login"></button>
  <br>
  <br>
  <p style="Color:aquamarine;text-align: left; cursor:pointer;">Forgot password</p>
</form>

</div>

