<div style="padding: 20px" >


  <p-table [value]="detalles" styleClass="p-datatable-striped" [paginator]="true" [rows]="10"
           [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
      <p-button icon="pi pi-plus" (click)="ver_form_detalle=true" label="Generar detalle factura"> </p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th> Cantidad</th>
        <th> Valor total</th>
        <th> Factura id</th>
        <th> Producto id</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalle>
      <tr>
        <td>{{detalle.cantidad}}</td>
        <td>{{detalle.valor_total}}</td>
        <td>{{detalle.factura.id}}</td>
        <td>{{detalle.producto.nombre}}</td>
        <td>
          <i style="cursor: pointer" class="pi pi-pencil" (click)="llenar_form_detalles(detalle);ver_form_detalle=true"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Detalle" [(visible)]="ver_form_detalle">
  <form [formGroup]="detalles_form" >
    <br>
    <div>
      <span class="p-float-label">
        <input id="cantidad" pInputText formControlName="cantidad" type="text">
        <label for="cantidad"> Cantidad  </label>
      </span>
    </div>
    <br>
    <div>
      <span class="p-float-label">
        <input id="valor_total" pInputText formControlName="valor_total" type="text">
        <label for="valor_total"> Valor total </label>
      </span>
    </div>
    <br>
    <div>
      <span class="p-float-label">
        <input id="factura_id" pInputText formControlName="factura_id" type="text">
        <label for="factura_id"> Factura id  </label>
      </span>
    </div>
    <br>
    <div>
      <span class="p-float-label">
        <input id="producto_id" pInputText formControlName="producto_id" type="text">
        <label for="producto_id"> producto  </label>
      </span>
    </div>
    <br>
  </form>
  <ng-template pTemplate="footer">
    <button [disabled]="!detalles_form.valid" pButton label="Guardar" (click)="guardar_detalle()"></button>
  </ng-template>
</p-dialog>
